<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TAKASE's webpage</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" href="<%= static_path(@conn, "/images/favicon.ico") %>">
  </head>

  <body>
    <header>
      <!--<%= link to: top_path(@conn, :index) do %>
      <h1>高瀬 英希　(TAKASE hideki)</h1>
      <% end %>-->
      <nav class="navbar navbar-dark">
      <h1 class="home-title navbar-brand">高瀬 英希 (TAKASE hideki)</h1>

        <!-- md以下でハンバーガーメニューを表示 -->
          <% path =
              @conn.request_path
              |> String.split("index")
              |> length() %>
          <%= case path do %>
            <%= 2 -> %>
              <button class="navbar-toggler  d-md-none hamburger" type="button"
                data-toggle="collapse"
                data-target="#navmenu1"
                aria-controls="navmenu1"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navmenu1">
                <div class="navbar-nav">
                  <%= for item <- @component_items do %>
                    <%= case item.title do %>
                      <%= "blank" -> %>
                      <%= _ -> %>
                        <a class="nav-item nav-link" href="#" onclick="return navJump(<%= item.position %>)"><%= item.title %></a>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <%= _ -> %>
          <% end %>
        </nav>
      <div class="container-fluid">
        <div class="btn-link-toolbar row" role="toolbar" aria-label="Links on Toolbar">
          <% current_category = current_category(@conn) %>
          <%= for category <- category_list() do %>
            <%= case category.title do %>
              <%= t when t == current_category -> %>
                <%= case category.position do %>
                  <%= p when p > 0 -> %>
                    <%= case p do %>
                      <%= pp when rem(pp, 4) == 0 -> %>
                        <%= link to: category_path(@conn, :show, category.url),
                        class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-bottom tool-btn-pushed col-3",
                        disabled: "disabled" do %>
                          <%= category.title %>
                        <% end %>
                      <%= _ -> %>
                        <%= link to: category_path(@conn, :show, category.url),
                        class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-pushed col-3",
                        disabled: "disabled" do %>
                          <%= category.title %>
                        <% end %>
                    <% end %>
                  <%= q when q < -0 -> %>
                    <%= case q do %>
                      <%= qq when rem(abs(qq), 4) == 0 -> %>
                        <%= link to: category_path(@conn, :show, category.url),
                        class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-lastrow-last tool-btn-pushed col-3",
                        disabled: "disabled" do %>
                        <%= category.title %>
                        <% end %>
                      <%= _ -> %>
                        <%= link to: category_path(@conn, :show, category.url),
                        class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-lastrow tool-btn-lastrow-pushed col-3",
                        disabled: "disabled" do %>
                        <%= category.title %>
                      <% end %>
                    <% end %>
                <% end %>
              <%= _ -> %>
                <%= case category.position do %>
                  <%= p when p > 0 -> %>
                    <%= case p do %>
                      <%= pp when rem(pp, 4) == 0 -> %>
                        <%= case under_category(pp) do %>
                          <%= cc when cc == current_category -> %>
                            <%= link to: category_path(@conn, :show, category.url),
                            class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-bottom tool-btn-above-pushed col-3" do %>
                              <%= category.title %>
                            <% end %>
                          <%= _ -> %>
                            <%= link to: category_path(@conn, :show, category.url),
                            class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-bottom col-3" do %>
                              <%= category.title %>
                            <% end %>
                        <% end %>
                      <%= p -> %>
                        <%= case next_category(p) do %>
                          <%= c when c == current_category -> %>
                            <%= link to: category_path(@conn, :show, category.url),
                            class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-beside-pushed col-3" do %>
                              <%= category.title %>
                            <% end %>
                          <%= _ -> %>
                            <%= case under_category(p) do %>
                              <%= cc when cc == current_category -> %>
                                <%= link to: category_path(@conn, :show, category.url),
                                class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-above-pushed col-3" do %>
                                  <%= category.title %>
                                <% end %>
                              <%= _ -> %>
                                <%= link to: category_path(@conn, :show, category.url),
                                class: "btn btn-outline-success rounded-0 btn-sm tool-btn col-3" do %>
                                  <%= category.title %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                  <%= q when q < -0 -> %>
                    <%= case q do %>
                      <%= qq when rem(abs(qq), 4) == 0 -> %>
                        <%= link to: category_path(@conn, :show, category.url),
                        class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-lastrow-last col-3" do %>
                        <%= category.title %>
                        <% end %>
                      <%= _ -> %>
                        <%= case next_category(-q) do %>
                          <%= c when c == current_category -> %>
                            <%= link to: category_path(@conn, :show, category.url),
                            class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-lastrow tool-btn-beside-pushed col-3" do %>
                              <%= category.title %>
                            <% end %>
                          <%= _ -> %>
                            <%= link to: category_path(@conn, :show, category.url),
                            class: "btn btn-outline-success rounded-0 btn-sm tool-btn tool-btn-lastrow col-3" do %>
                              <%= category.title %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </header>
    <main hidden id="main">

      <%= if current_user(@conn, @view_template) do %> <!-- layout_viewより -->
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with bottun groups">
          <%= link to: session_path(@conn, :delete), method: :delete, data: [confirm: "Are you sure to LOGOUT?"],
            class: "btn btn-danger btn-sm" do %>
          <i class="fa fa-user-times fa-lg"></i> ログアウト
          <% end %>
          <%= link to: user_path(@conn, :index),
            class: "btn btn-success btn-sm" do %>
          <i class="fa fa-user fa-lg"></i> ユーザページ
          <% end %>
          <%= link to: category_path(@conn, :index),
            class: "btn btn-primary btn-sm" do %>
          <i class="fa fa-object-ungroup fa-lg"></i> カテゴリ
          <% end %>
          <%= link to: photo_path(@conn, :index),
            class: "btn btn-secondary btn-sm" do %>
          <i class="fa fa-image fa-lg"></i> 画像
          <% end %>
          <%= link to: data_path(@conn, :index),
            class: "btn btn-dark btn-sm" do %>
          <i class="fa fa-cubes fa-lg"></i> tmpファイル置き場
          <% end %>
        </div>

        <br>
      <% end %>


      <%= if success = get_flash(@conn, :success) do %>
        <p class="alert alert-success"><%= success %></p>
      <% end %>
      <%= if info = get_flash(@conn, :info) do %>
        <p class="alert alert-info"><%= info %></p>
      <% end %>
      <%= if error = get_flash(@conn, :error) do %>
        <p class="alert alert-danger"><%= error %></p>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer hidden id="footer">
      <%=
        "Last Update: #{last_updated().year}年#{last_updated().month}月#{last_updated().date}日"
      %>

      <!--<br>URL: http://www.lab3.kuis.kyoto-u.ac.jp/~takase/index.html<br>-->
    </footer>
    <script src="<%= static_path(@conn, "/js/marked.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/scroll.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/header_size.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/tab.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/index.js") %>"></script>

  </body>
  </body>
</html>
