header {
  background-color: #50433a;
  padding: 0rem;
  background-color: #50433a;
  h1.home-title{
    margin-bottom: 0rem;
  }
  div.btn-link-toolbar{
    //background-color: #00cb90;
    background-color: #55ba9a;
    a.tool-btn{
      font-size: 14px;
      border-width: 2px 2px 2px 0px;
      color: #fff;
      border-color: #50433a;
    }
    a.tool-btn-bottom{
      border-width: 2px 0px 2px 0px;
    }
    a.tool-btn-lastrow{
      border-width: 0px 2px 2px 0px;
      border-color: #50433a;
      border-bottom: #fcfcfc;
    }
    a.tool-btn-lastrow-last{
      border-width: 0px 0px 0px 0px;
    }
    a.tool-btn-pushed{
      //color: #55a;
      color: #50405a;
      //background-color: #aacb90;
      background-color: #88cbb0;
      border-color: #50873a;
    }
    a.tool-btn-lastrow-pushed{
      color: #50405a;
      //color: #55a;
      //background-color: #aacb90;
      background-color: #88cbb0;
      border-color: #50873a;
    }
    a.tool-btn-beside-pushed{
      border-right-color: #50873a;
    }
    a.tool-btn-above-pushed{
      border-bottom-color: #50873a;
    }
  }
  a.home_title{
    padding-bottom: 0rem;
  }
  h1 {
    //color: #f42288;
    color: #fefef0;
    font-size: 1.5rem;
    //margin: 0.5rem;
  }
  nav.navbar{
    margin-right: auto;
    //margin-bottom: 0.6rem;
    //background:linear-gradient(180deg,#50433a 0%, #50433a 80%, #00cb90 80%, #00cb90 100%);
    button.hamburger{
      background-color: #60534a;
      margin-bottom: 0.5rem;
      span.navbar-toggler-icon{
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        margin-top: -0.7rem;
        margin-bottom: -0.5rem;
        width: 1.5rem;
      }
    }
    div.navbar-collapse{
      background-color: #50433a;
      a{
        margin-left: 1rem;
      }
    }
  }
}
