div.item{
  div.row{
    div.separate{
      background: #fcfcfc;
      //background:linear-gradient(0deg,#00bb80 0, #00bb80 0.3rem, #fcfcfc 0.3rem, #fcfcfc 100%);
      margin-bottom: 1.2rem;
      a.btn{
        margin-top: 0.5rem;
      }
      i.lock{
        color: #bb0;
        margin-top: 0.5rem;
      }
      div.space{
        background-color: #fcfcfc;
      }
      img.thumbnail{
        margin-top: 0.4rem;
        background-color: #fcfcfc;
      }
      h5.title{
        //background:linear-gradient(180deg, #f3df88 0%, #f3df88 10%,#e9d67d 10%, #e9d67d 95%, #f3df88 95%, #f3df88 100%);
        background-color: #f3df88;
        color: #335544;
        font-weight: bold;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
      }
      img.card-img-top{
      }
      ul{
        padding-left: 1rem;
      }
    }
    div.blank{
      margin-bottom: 1.2rem;
      background-color: #fefef0;
      div.blank_title{
        color: #ffffff;
        background-color: white;
      }
      img.thumbnail{
        background-color: gray;
        width: 100%;
      }
      div.card-img-overlay{
        color: #222;
      }
    }

    div.row:last-child{
      margin-bottom: 1.0rem;
    }
  }
}

#scroll_top_btn{
  display: block;
  position: fixed;
  right: 2%;
  bottom: 1%;
  border-radius: 20%;
  background: #00bb80;
  opacity: 0.8;
  i.fa{
    margin-top: -0.5rem;
    color: #f3df88;
  }
}
