div.user-params{
  div.row{
      margin-bottom: 0.25rem;
      div.title{
        padding-right:0.5rem;
        padding-left: 0.5rem;
        background-color: #99aadd;
        color: #fff;
        font-weight: bold;
      }
      div.param{

      }
  }
  div.row.last-child{
      margin-bottom: 0;
  }
}
