{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot_shim","bin/home_page"},
          {copy,"./boot_shim.bat","bin/home_page.bat"},
          {copy,"./boot","releases/0.0.1/home_page.sh"},
          {copy,"./boot.bat","releases/0.0.1/home_page.bat"},
          {copy,"/Users/admin/projects/home_page/rel/.files/vm.args",
                "releases/0.0.1/vm.args"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{home_page,"0.0.1"},[{home_page,"0.0.1"},elixir,iex,sasl]}.

{release,{home_page,".DS_Store"},[{home_page,".DS_Store"},elixir,iex,sasl]}.

{lib_dirs,["/Users/admin/projects/home_page/_build/prod/lib",
           "/Users/admin/projects/home_page/deps",
           "/Users/admin/.kiex/elixirs/elixir-1.7.4/lib/elixir/bin/../lib/logger/ebin",
           "/Users/admin/.kiex/elixirs/elixir-1.7.4/lib/elixir/bin/../lib/elixir/ebin",
           "/Users/admin/.kiex/elixirs/elixir-1.7.4/lib/elixir/bin/../lib/ex_unit/ebin",
           "/Users/admin/.kiex/elixirs/elixir-1.7.4/lib/elixir/bin/../lib/mix/ebin",
           "/Users/admin/.kiex/elixirs/elixir-1.7.4/lib/elixir/bin/../lib/eex/ebin",
           "/Users/admin/.kiex/elixirs/elixir-1.7.4/lib/elixir/bin/../lib/iex/ebin"]}.

