[{sasl,[{errlog_type,error}]},
 {guardian,
     [{'Elixir.Guardian.DB',
          [{repo,'Elixir.HomePage.Repo'},
           {schema_name,<<"guardian_tokens">>},
           {sweep_interval,60}]}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[user_id]}]},
      {level,info}]},
 {phoenix,[{serve_endpoints,true}]},
 {home_page,
     [{ecto_repos,['Elixir.HomePage.Repo']},
      {'Elixir.HomePage.Accounts.Guardian',
          [{issuer,<<"home_page">>},
           {secret_key,<<"${HOME_PAGE_GUARDIAN_KEY}">>}]},
      {default_time_zone,<<"Asia/Tokyo">>},
      {'Elixir.HomePage.Mailer',
          [{adapter,'Elixir.Bamboo.SMTPAdapter'},
           {server,<<"smtp.gmail.com">>},
           {port,587},
           {username,<<"home.page.phoenix0405@gmail.com">>},
           {password,<<"Rtgbn3fuj5">>},
           {tls,if_available},
           {ssl,false},
           {retries,1}]},
      {'Elixir.HomePageWeb.Endpoint',
          [{render_errors,
               [{view,'Elixir.HomePageWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.HomePage.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {load_from_system_env,true},
           {http,[{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"example.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>},
           {version,<<"0.0.1">>},
           {root,<<".">>},
           {server,true},
           {secret_key_base,
               <<"jBdST60sM6wWYkv71DvfpTtjb4r1t+/z6R1PqwIFkYb5liZ5Up1v+yIxhVWp+UUn">>}]},
      {'Elixir.HomePage.Repo',
          [{adapter,'Elixir.Ecto.Adapters.MySQL'},
           {username,<<"admin">>},
           {password,<<"awsphoenix">>},
           {database,<<"home_page_prod">>},
           {hostname,
               <<"phx-koji.ctzcaujiwt4t.ap-northeast-1.rds.amazonaws.com">>},
           {pool_size,20}]}]}].
